<div id="main_title">
  <div class="title">
    Contact
  </div>
</div>

<div id="main_content">
  <ul class="contact">
    <li class="contact">
    <div class="contact_photo">
      <%= image_tag "semin_photo.gif", :style => "margin-bottom: 10px;" %>
    </div>
    <div class="contact_name">
      Semin Lee
    </div>
    <div class="contact_lab">
      Blundell Group
    </div>
    <div class="contact_affiliation">
      Department of Biochemistry<br />
      University of Cambridge<br />
      80 Tennis Court Road<br />
      Old Addenbrookes Site<br />
      Cambridge CB2 1GA<br />
    </div>
    <div class="contact_email">
      Email: <%= image_tag "semin_email.gif" %>
    </div>
    </li>
  </ul>
</div>
