<div class="main_title">
  News
</div>

<div id="home_news">
  <ul class="news">
    <% @news.each do |news| %>
      <li>
      <%= news.date %>: <%= news.title %><br />
      <p><%= news.content %></p>
      </li>
    <% end %>
  </ul>
</div>
