<div class="main_title">
  References:
</div>

<div id="home_reference">
  <ul>
    <li>
    Semin Lee and Tom L. Blundell (2009) BIPA: Biological database for Interaction between Protein and nucleic Acid. Bioinformatics. submitted.
    </li>
    <li>
    Semin Lee and Tom L. Blundell (2009) EGOR: A Program to Calculate Environment-Specific Amino Acid Substitution Tables. Bioinformatics. submitted.
    </li>
    <li>
    Worth CL, Bickerton GR, Schreyer A, Forman JR, Cheng TM, Lee S, Gong S, Burke DF, Blundell TL. (2007) A structural bioinformatics approach to the analysis of nonsynonymous single nucleotide polymorphisms (nsSNPs) and their relation to disease. J Bioinform Comput Biol. Dec;5(6):1297-318.
    </li>
    <li>
    Sali A, Blundell TL. (1990) Definition of general topological equivalence in protein structures. A procedure involving comparison of properties and relationships through simulated annealing and dynamic programming. J Mol Biol. Mar 20;212(2):403-28.
    </li>
    <li>
    Mizuguchi, K., Deane, C.M., Blundell, T.L., Johnson,M.S. and Overington, J.P. (1998) JOY: protein sequence-structure representation and analysis. Bioinformatics 14:617-623.
    </li>
    <li>
    H.M. Berman, J. Westbrook, Z. Feng, G. Gilliland, T.N. Bhat, H. Weissig, I.N. Shindyalov, P.E. Bourne (2000) The Protein Data Bank. Nucleic Acids Research, 28 pp. 235-242.
    <li>
    Murzin A. G., Brenner S. E., Hubbard T., Chothia C. (1995) SCOP: a structural classification of proteins database for the investigation of sequences and structures. J. Mol. Biol. 247, 536-540.
    </li>
  </ul>
</div>
