<div class="main_title">
  Browse: PDB
</div>

<%= will_paginate @structures %>

<%= render :partial => "structure", :collection => @structures, :spacer_template => "/shared/list_spacer" %>

<%= will_paginate @structures %>
