<div class="main_title">
  Search PDB: <font color="green"><%=h @query %></font>, Hits: <font color="green"><%= @structures.total_hits %></font>
</div>

<% if @structures && @structures.total_hits > 0 %>
  <%= will_paginate @structures %>
  <%= render :partial => "structure", :collection => @structures, :spacer_template => "/shared/list_spacer" %>
  <%= will_paginate @structures %>
<% else %>
  Sorry. No hits found.
<% end %>
