<div class="main_title">
  Structure: <%= @structure.pdb_code %>
</div>

<table id="structure_table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th colspan=2 rowspan=8 style="width:280px">
      <%= image_tag @structure.rcsb_image_link_250, :border => 1 %><br />
      3D View: <%= link_to "Jmol", jmol_structure_path %>
    </th>
  </tr>
  <tr>
    <td class="title">Title</td>
    <td colspan=5><%=h @structure.title %></td>
  </tr>
  <tr>
    <td class="title">Authors</td>
    <td colspan=5><%=h @structure.authors %></td>
  </tr>
  <tr>
    <td class="title">Citation</td>
    <td colspan=5>
      <%=h @structure.citation %>
      [<a href="#abstract" id="abstract_link">Abstract</a>]
    </td>
  </tr>
  <tr>
    <td class="title">History</td>
    <td colspan=5>
      Deposition: <%=h @structure.deposited_at %><br />
      Release: <%=h @structure.released_at %>
    </td>
  </tr>
  <tr>
    <td class="title">Experimental Method</td>
    <td colspan=5><%=h @structure.exp_method %>
    <% if @structure.resolution %>
      , Resolution: <%= @structure.resolution %> &Aring;
    <% end %>
  </td>
  </tr>
  <tr>
    <td class="title">Classification</td>
    <td colspan=5><%=h @structure.classification %></td>
  </tr>
  <tr>
    <td class="title">Source</td>
    <td colspan=5><%=h @structure.source %></td>
  </tr>
  <tr class="title">
    <td>SCOP<br />Classification</td>
    <% if @structure.domains.size > 0 %>
        <td class="title_center">Domain</td>
        <td class="title_center">Class</td>
        <td class="title_center">Fold</td>
        <td class="title_center">Superfamily</td>
        <td class="title_center">Family</td>
        <td class="title_center">Protein<br />Domain</td>
        <td class="title_center">Species</td>
      </tr>
      <% @structure.domains.each do |domain| %>
        <tr>
          <td></td>
          <td><%= domain.sid %></td>
          <td><%= domain.scop_class.description %></td>
          <td><%= domain.scop_fold.description %></td>
          <td><%= domain.scop_superfamily.description %></td>
          <td><%= domain.scop_family.description %></td>
          <td><%= domain.scop_protein.description %></td>
          <td><%= domain.scop_species.description %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td></td>
        <td colspan=7>None</td>
      </tr>
    <% end %>
  <tr class="title">
    <td>GO Terms</td>
    <td class="title_center" colspan=4>Polymer</td>
    <td class="title_center">Molecular Function</td>
    <td class="title_center">Biological Process</td>
    <td class="title_center">Cellular Component</td>
  <tr>
  <% @structure.chains.each do |chain| %>
    <% next if chain.chain_code.nil? %>
    <tr>
      <td></td>
      <td colspan=4><%= chain.chain_code %>: <%= chain.molecule.html_word_wrap(55) %></td>
      <td><%= chain.go_terms_for_html(:molecular_function) %></td>
      <td><%= chain.go_terms_for_html(:biological_process) %></td>
      <td><%= chain.go_terms_for_html(:cellular_component) %></td>
    </tr>
  <% end %>
  <tr class="title">
    <td>Structural and Functional Restraints</td>
    <td class="title_center">Polymer</td>
    <td class="title_center" colspan=6>Sequence &amp; Restraints</td>
  </tr>
  <% @structure.aa_chains.each do |chain| %>
    <tr>
      <td></td>
      <td><%= chain.chain_code %></td> 
      <td colspan=6 class="alignment ruller">
        <div style="width:750;min-height:50px;overflow-x:auto;overflow-y:hidden;">
          <%= chain.ruler_with_margin %><br />
          <%= chain.formatted_sequence %>
        <div>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td colspan=6>
      <table class="joy_annotation">
        <tr>
          <td><b>Key for HTML output</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>alpha helix</td>
          <td><span class="helix">red</span></td>
          <td><span class="helix">x</span></td>
        </tr>
        <tr>
          <td>beta sheet</td>
          <td><span class="beta_sheet">blue</span></td>
          <td><span class="beta_sheet">x</span></td>
        </tr>
        <tr>
          <td>coil (or loop)</td>
          <td><span class="coil">yellow</span></td>
          <td><span class="coil">x</span></td>
        </tr>
        <tr>
          <td>positive phi</td>
          <td><span class="positive_phi">green</span></td>
          <td><span class="positive_phi">x</span></td>
        </tr>
        <tr>
          <td>solvent accessible</td>
          <td><span class="on_surface">upper case</span></td>
          <td><span class="on_surface">x</span></td>
        </tr>
        <tr>
          <td>solvent inaccessible</td>
          <td><span class="buried">lower case</span></td>
          <td><span class="buried">x</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to DNA</td>
          <td><span class="hbonding_dna">orange background &amp; bold</span></td>
          <td><span class="hbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to DNA</td>
          <td><span class="whbonding_dna">orange background &amp; italic</span></td>
          <td><span class="whbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to DNA</td>
          <td><span class="vdw_contacting_dna">orange background &amp; underline</span></td>
          <td><span class="vdw_contacting_dna">x</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to RNA</td>
          <td><span class="hbonding_rna">cyan background &amp; bold</span></td>
          <td><span class="hbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to RNA</td>
          <td><span class="whbonding_rna">cyan background &amp; italic</span></td>
          <td><span class="whbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to RNA</td>
          <td><span class="vdw_contacting_rna">cyan background &amp; underline</span></td>
          <td><span class="vdw_contacting_rna">x</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div id="abstract">
  <%=h @structure.abstract %>
</div>

<%= link_to "Back to the structure list", structures_path %>
