.DS_Store
*.swp
*~
*.old
index/
log/*.log
log/*.pid
tmp/*
tmp/*.csv
tmp/**/*
db/sphinx
config/*.sphinx.conf
config/database.yml
public/pdb
public/scop
public/families
public/go
public/taxonomy
public/dssp
public/essts
public/hbplus
public/naccess
public/zap
public/blastclust
public/contact.html
public/index.html
public/interfaces
public/scops.html
public/scops
public/alignments
public/structures.html
public/structures
public/images/pdb
public/images/scop

