[submodule "vendor/plugins/acts_as_network"]
	path = vendor/plugins/acts_as_network
	url = git://github.com/sjlombardo/acts_as_network.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/auto_migrations"]
	path = vendor/plugins/auto_migrations
	url = git://github.com/pjhyett/auto_migrations.git
[submodule "vendor/plugins/import_with_load_data_in_file"]
	path = vendor/plugins/import_with_load_data_in_file
	url = git://github.com/paolodona/import_with_load_data_in_file.git
[submodule "vendor/plugins/quick_scopes"]
	path = vendor/plugins/quick_scopes
	url = git://github.com/internuity/quick_scopes.git
[submodule "vendor/plugins/rudeq"]
	path = vendor/plugins/rudeq
	url = git://github.com/matthewrudy/rudeq.git
