html, body { 
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  color: #000000;
  background: #C5C2B8;
  font-family: Lucida Grande, Verdana, Arial, san-serif;
}

#header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  border-bottom: 2px black dotted;
  padding: 0px;
}

#banner {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Georgia, Times New Roman, Serif;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  display: inline;
}

#subbanner {
  position: absolute;
  top: 40px;
  left: 10px;
  font-family: Georgia, Times New Roman, Serif;
  font-size: 105%;
  text-align: left;
}

#banner_logo {
  position: absolute;
  top: 7px;
  right: 10px;
}

#menu {
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 80%;
}

#menu a {
  color: #000000;
}

#menu a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

#menu a:hover, a:active {
  color: #000000;
  text-decoration: underline;
}

#middler {
  position: relative;
  width: 100%;
}

#sidebar {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 300px;
  margin-left: 10px;
}

#accordion_container {
  width: 300px;
  border-top: 1px #000000 solid;
  color: black;
  background: white;
}

#accordion_container div.accordion_title {
  width: 295px;
  padding-left: 5px; 
  margin-right: 3px; 
  background: #888888;
  border: 0;
  border-bottom: 1px #000000 solid;
  font-weight: bold;
}

#accordion_container div.accordion_title:hover {
  color: #C5C2B8;
  background: #3C3C3C;
}

#accordion_container div.accordion_content {
  padding-left: 2px; 
  font-size: 80%;
  overflow: auto;
}

#main_container {
  position: absolute;
  top: 0px;
  left: 312px;
  right: 10px;
  min-height 50px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 10px #C5C2B8 solid;
  color: #000000;
  background: #FFFFFF;
}

#main_container a {
  color: #C5C2B8;
}

#main_container a:link, a:visited {
  color: #C5C2B8;
  text-decoration: none;
}

#main_container a:hover, a:active {
  color: #C5C2B8;
  text-decoration: underline;
}

#main_content {
  padding-left: 5px;
  padding-bottom: 5px;
  color: #000000;
  background: #FFFFFF;
  font-size: 85%;
}

#main_spinner {
  top: 50%;
  left: 48%;
  margin-top: -25px;
}

#footer {
  width: 100%;
  height: 20px;
  border-top: 2px #000000 dotted;
  padding-top: 10px;
  margin: -50px auto 0 auto;
  font-family: Courier New;
  font-size: 85%;
  text-align: center;
}

#footer a {
  color: white;
}

#footer a:link, a:visited {
  color: white;
  text-decoration: none;
}

#footer a:hover, a:active {
  color: white;
  text-decoration: underline;
}

ul.contact {
  margin: 0px;
  padding: 0px;
}

ul li.contact {
  list-style-type: none;
}

ul li div.contact_name {}

ul li div.contact_lab {}

ul li div.contact_affiliation {}

ul li div.contact_email {}

