.pagination {
  clear: both;
  width: 100%;
  padding: 3px;
  margin: 3px;
  font-size: 80%;
  text-align: center;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  color: #000000;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000000;
  color: #000000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000000;
  font-weight: bold;
  background-color: #000000;
  color: #FFFFFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #FFFFFF;
  color: #C5C2B8;
}
