<table>
  <tr>
    <th>Chain Code</th>
    <th>Molecule</th>
    <th>Molecule ID</th>
  </tr>
  <tr>
    <td><%= @chain.chain_code %></td>
    <td><%= @chain.molecule %></td>
    <td><%= @chain.mol_code %></td>
  </tr>
</table>
