<div id="main_title">
  <div class="title">
    SCOP Search: <%= @query %>, Hits: <%= @hits.total_hits %>
  </div>
</div>

<div id="main_content">
  <%= render :partial => "hit", :collection => @hits, :spacer_template => "hit_spacer" %>
</div>
