<% content_for :main_title do %>
  <div class="title">
    Search: <font color='green'><%= @query %></font>, Hits: <font color='green'><%= @hits.size %></font>
  </div>
<% end %>

<% if @hits && @hits.size > 0 %>
  <%= render :partial => "hit", :collection => @hits, :spacer_template => "/shared/list_spacer" %>
<% else %>
  No hits
<% end %>
