<% content_for :main_title do %>
  <div class="title">
    SCOP Search: <%= @query %>, Hits: <%= @hits.total_hits %>
  </div>
<% end %>

<%= render :partial => "hit", :collection => @hits, :spacer_template => "hit_spacer" %>
