<div id="scop_tabs">
  <ul>
    <li>
    <li>
      <a href="/scop/basic_statistics?id=<%= @scop.id %>">Basic Statistics</a>
    </li>
      <a href="/scop/residue_propensity?id=<%= @scop.id %>">Residue Propensity</a>
    </li>
    <li>
      <a href="/scop/sse_propensity?id=<%= @scop.id %>">SSE Propensity</a>
    </li>
  </ul>
</div>
