<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery("#scop_tabs > ul").tabs({ selected: null });
  });
</script>

<div id="main_title">
  <h3><%= @scop.hierarchy %>: <%= @scop.description %></h3>
</div>

<div id="scop_tabs">
  <ul>
    <li><a href="/scop/summary/<%= @scop.id %>"><span>Summary</span></a></li>
    <li><a href="/scop/propensity/<%= @scop.id %>"><span>Propensity</span></a></li>
  </ul>
</div>
