<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery("#scop_tabs > ul").tabs({ selected: null });
  });
</script>

<div class="title">
  <%= @scop.hierarchy %>: <%= @scop.description %>
</div>

<div class="content">
  <div id="scop_tabs" class="tabs">
    <ul>
      <li><a href="/scop/summary/<%= @scop.id %>"><span>Summary</span></a></li>
      <li><a href="/scop/propensity/<%= @scop.id %>"><span>Propensity</span></a></li>
    </ul>
  </div>
</div>
