<div class="search_hits">
  <%= link_to_remote("[<b>#{hit.hierarchy}</b>] " +
                      "#{hit.description}",
                      :url => { :action => "show", :id => hit.id },
                      :href => { :action => "show", :id => hit.id },
                      :loading =>  "$('main_content').hide();" +
                                  "$('main_spinner').show()",
                      :complete => "$('main_spinner').hide();" +
                                  "$('main_content').show()",
                      :method => :get) %>
</div>
