<div class="relative">
  <% relative.level.times do %>
    &nbsp;&nbsp;
  <% end %>
  <% if relative.level < 7 && relative.children.size > 0 %>
    &#43;
  <% else %>
    &#45;
  <% end %>
  <b><%= relative.hierarchy %></b>: <%= link_to "#{relative.description}", scop_path(relative) %>
</div>
