<div class="relative">
  <% relative.level.times do %>
    &nbsp;&nbsp;
  <% end %>
  <% if relative.children.size > 0 %>
    &#43;
  <% else %>
    &#45;
  <% end %>
  <%= relative.hierarchy %>: <%= link_to "#{relative.description}", hierarchy_scop_path(relative) %>
</div>
