<h1>Editing scop</h1>

<%= error_messages_for :scop %>

<% form_for(:scop, :url => scop_path(@scop), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', scop_path(@scop) %> |
<%= link_to 'Back', scops_path %>