<div class="main_title">
  Browse: SCOP Domains
</div>

<%= will_paginate @scops %>

<%= render :partial => "scop", :collection => @scops, :spacer_template => "/shared/list_spacer" %>

<%= will_paginate @scops %>
