<% content_for :main_title do %>
  <div class="title">
    Browse: SCOP
  </div>
<% end %>

<table class="stats">
  <thead>
    <tr>
      <th> SUNID </th>
      <th> Type </th>
      <th> SCCS </th>
      <th> SID </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody id="table_body">
    <%= render :partial => "scop", :collection => @scops %>
  </tbody>
</table>

<%= will_paginate @scops %>
