<div class="main_title">
  Browse: <%= @scops.first.class %>
</div>

<%= render :partial => "structure", :collection => @structures, :spacer_template => "/shared/list_spacer" %>

<!--
<table class="stats">
  <thead>
    <tr>
      <th> SUNID </th>
      <th> Type </th>
      <th> SCCS </th>
      <th> SID </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody id="table_body">
    <%= render :partial => "scop", :collection => @scops %>
  </tbody>
</table>

<%= will_paginate @scops %>
--!>


