<% content_for :main_title do %>
  <div class="title">
    Search: <font color='green'><%= @query %></font>, Hits: <font color='green'><%= @hits.size %></font>
  </div>
<% end %>

<%= render :partial => "hit", :collection => @hits, :spacer_template => "/shared/list_spacer" %>
