<div class="list">
  <div class="list_title">
    <b><%= interface.na_type %> interface</b>: <%= link_to interface.description, scop_interface_path(@scop, interface) %>
  </div>
  <div class="list_content">
    PDB Title: <%= interface.residues.first.chain.model.structure.title %><br />
    SCOP sunid: <%= interface.domain.sunid %>
  </div>
</div>
