<script type="text/javascript">
  $j(document).ready(function() {
    $j("div.pagination a").click(function() {
      $j("#main_container").load(this.href);
    });
  });
</script>

<div id="main_title">
  <div class="title">
    Browse: <%= @type %> 
  </div>
</div>

<div id="main_content">
  <table>
    <tr>
      <th>ID</th>
      <th>TYPE</th>
      <th>ASA</th>
    </tr>
    <%= render :partial => 'interface', :collection => @interfaces %>
  </table>

  <%= will_paginate @interfaces %>
</div>
