<div class="main_title">
  Jalview
</div>

<div id="jalview">
  <applet code="jalview.bin.JalviewLite" width="930" height="450" archive="<%= configatron.rel_url_root %>/javascripts/jalviewApplet.jar">
    <param name="embedded" value="true">
    <param name="debug" value="false">
    <param name="showFeatureSettings" value="false">
    <param name="nojmol" value="true">
    <% @alignment.sequences.each_with_index do |seq, i| %>
      <param name="sequence<%= i+1 %>" value="<%= seq.domain.sid %> <%= seq.sequence %>">
    <% end %>
  </applet>
</div>
