<% content_for :main_title do %>
  <div class="title">
    <%= @alignment.class %>: <%= @alignment.family.description %>
  </div>
<% end %>

<div id="alignment_description">
</div>

<div class="alignment">
  <%= render :partial => "/alignments/sequence", :collection => @sequences %>
</div>
