<% content_for :main_title do %>
  <div class="title">
    <%= @alignment.class %>: <%= @alignment.family.description %>
  </div>
<% end %>

<div class="alignment">
  <div class="sequence">
    <%= render :partial => "/alignments/sequence", :collection => @sequences %>
  </div>
</div>
