<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
      <%= @page_title || "BIPA: Biological database for Interaction between Protein and nucleic Acid" %>
    </title>
  </head>

  <body>

    <object width="425" height="344" align='center'><param name="movie" value="http://www.youtube.com/v/oHg5SJYRHA0&hl=en&fs=1&autoplay=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oHg5SJYRHA0&hl=en&fs=1&autoplay=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>

    <h1>BIPA is under construction</h1>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7554991-1");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
